@custom-selector :--heading h1, h2, h3, h4, h5, h6;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
  padding: 0px 20px;
}

:--heading {
  margin: 0;
}

header,
main {
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  grid-gap: 50px;
}

header {
  height: 30vh;
  & .column:first-child {
    place-self: center start;
    font-size: 36px;
  }
  & .column:nth-child(2) {
    display: flex;
    place-self: start end;
  }
  & .item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}

main {
  margin-top: 50px;
  grid-auto-rows: 70vh;
  & .hero {
    grid-column: span 3;
    background: url(https://picsum.photos/2500/2500/?random);
    background-size: 100%;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    & .content {
      padding: 40px 50px;
      font-size: 40px;
      background-color: white;
    }
  }
  & .blogpost {
    border: 1px solid rgba(0, 0, 0, 0.5);
    & .postTitle {
      font-size: 20px;
    }
    & .blogContent {
      padding: 20px 10px;
    }
  }
  & img {
    height: 40%;
    width: 100%;
  }
}
