@custom-selector :--heading h1, h2, h3, h4, h5, h6;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: system-ui;
  background-image: linear-gradient(to bottom, #000, #676767);
  height: 100vh;
  overflow: hidden;
}

:--heading {
  margin: 0;
}
